<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Web App</title>
    <link rel="stylesheet" href="../css/styleHome.css" type="text/css" media="all">
    <script type="text/javascript" src="../js/appHome.js"></script>
</head>
<body>
    <header>
        <h1>Web Application</h1>
    </header>
    <main>
        <div class="container">
            <img src="../images/home_image.gif" alt="Home Image">
            <div class="buttons">
                <button onclick="register_page()">Register</button>
                <button onclick="consult_page()">Consult</button>
            </div>
        </div>
    </main>
</body>
</html>
